@import "../../styles/variables.scss";

.ContactPage {
    section {
        max-width: 640px;
        width: 100%;
        padding: 80px 0;
        margin-left: auto;
        margin-right: auto;
        .contactForm-holder {
            h2 {
                margin: 50px 0;
            }
            .form-group {
                label {
                    font-size: 18px;
                    font-weight: normal;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                }
                .form-control {
                    padding: 24px;
                    @media (max-width: 767px) {
                        padding: 12px;
                    }
                }
            }
            button {
                font-size: 20px;
                padding: 14px;
                background-color: $blue;
                &:hover {
                    background-color: #4fa0e5;
                }
                @media (max-width: 767px) {
                    font-size: 16px;
                    padding: 10px;
                }
            }
        }
    }
}
