@import '../../styles/variables.scss';

.aboutSection-holder {
    position: relative;
    margin: 290px 0 200px;
    @media (max-width: 991px) {
        margin: 250px 0 200px;
    }
    @media (max-width: 575px) {
        margin: 200px 0 200px;
    }
    .topPolygon {
        position: absolute;
        top: -85px;
        right: 3%;
    }
    .bottomPolygon {
        position: absolute;
        bottom: -120px;
        left: 40%;
        @media (max-width: 767px) {
            left: 3%;
        }
    }
    .aboutContent {
    }
}
