@import "../../styles/variables.scss";

.footer-holder {
    border-top: 1px solid #ccc;
    .content {
        padding: 35px 0;
        .all-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 70px;
            @media (max-width: 575px) {
                margin-bottom: 20px;
            }
        }
        p,
        a {
            font-size: 14px;
            display: block;
            @media (max-width: 575px) {
                font-size: 12px;
            }
        }
        p {
            font-weight: bold;
            margin: 0;
        }
        a {
            margin: 15px 0;
        }
    }
}

