@import "../../styles/variables.scss";

.navbar {
    background: $white;
    width: 100%;
    padding: 0 10px;
    .navbar-toggler {
        border: none;
        &:focus {
            outline: none;
        }
    }
    .navbar-brand {
        img {display: none;}
    }
    .navbar-collapse {
        justify-content: flex-end;
        @media (max-width: 991px) {
            position: absolute;
            left: 0;
            top: 85px;
            bottom: 0;
            background: #3078b6;
            width: 100%;
            height: 100vh;
            z-index: 1;
            text-align: center;
            padding: 30px 0;
            transition: 0.3s ease;
        }
        .navbar-nav {
            a {
                font-size: 14px;
                color: $black;
                font-weight: 500;
                line-height: 18px;
                margin: 0 15px;
                padding: 36px 0;
                &.active {
                    border-bottom: 2px solid $blue;
                    @media (max-width: 991px) {
                        color: $black;
                        border-bottom: 0px solid $blue;
                    }
                }
                &:hover {
                    text-decoration: none;
                }
                @media (max-width: 991px) {
                    margin: 0;
                    padding: 20px;
                    color: $white;
                    &:hover {
                        background-color: #2c618f;
                    }
                }
            }
            .lang-switch {
                color: $black;
                font-size: 14px;
                margin-left: 30px;
                display: flex;
                align-items: center;
                cursor: pointer;
                @media (max-width: 991px) {
                    justify-content: center;
                    color: $white;
                }
                svg {
                    path {
                        @media (max-width: 991px) {
                        fill: $white;
                        }
                    }
                }
                span {
                    margin-right: 10px;
                }
            }
        }
    }
}
.HomePage {
    .navbar {
        background: transparent;
        position: absolute;
        top: 0;
        .navbar-brand {
            svg {
                display: none !important;
                path {
                    fill: $white;
                }
            }
            img {
                display: block;
            }
        }
        .navbar-collapse {
            .navbar-nav {
                a {
                    color: $white;
                }
                .lang-switch {
                    color: $white;
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}
