.heroBanner-holder {
    // background-color: #0089ff;
    picture {
        position: absolute;
        top: 0;
        z-index: -1;
        left: 0;
        right: 0;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100vh;
            @media (max-width: 767px) {
                height: 500px;
            }
        }
    }
    .sticky-image-block {
        max-width: 848px;
        width: 100%;
        margin: auto;
        h1 {
            margin: 160px auto 70px;
            display: inline-block;
            max-width: 600px;
            width: 100%;
            @media (max-width: 767px) {
                margin: 140px auto 70px;
                max-width: 455px;
            }
            @media (max-width: 575px) {
                margin: 110px auto 40px;
                max-width: 330px;
            }
        }
        img {
            margin-bottom: -32px;
        }
    }
}
