.portfolio-holder {
    .portfolioPanel {
        .portfolio {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin: 40px 0;
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
            @media (max-width: 991px) {
                margin: 30px 0;
            }
            @media (max-width: 767px) {
                flex-wrap: wrap;
            }
            @media (max-width: 575px) {
                margin: 20px 0;
            }
            .portfolioImage {
                width: 42%;
                display: flex;
                align-items: center;
                @media (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
            .portfolioDesc {
                width: 54%;
                @media (max-width: 767px) {
                    width: 100%;
                }
                h2 {
                    @media (min-width: 768px) {
                        font-size: 22px;
                        line-height: 30px;
                    }
                    @media (min-width: 992px) {
                        font-size: 26px;
                    }
                    @media (min-width: 1200px) {
                        font-size: 34px;
                        line-height: 40px;
                    }
                }
                p {
                    @media (min-width: 576px) {
                        font-size: 14px;
                    }
                    @media (min-width: 768px) {
                        line-height: 24px;
                    }
                    @media (min-width: 1200px) {
                        font-size: 16px;
                        line-height: 30px;
                        margin: 18px 0;
                    }
                }
            }
        }
    }
}