@import "../../styles/variables.scss";

.getstartedStrip-holder {
    margin: 40px 0;
    display: inline-block;
    width: 100%;
    @media (max-width: 991px) {
        margin: 20px 0;
    }
    .getstartedStrip-block {
        background-color: $blue;
        color: $white;
        padding: 40px;
        border-radius: 8px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 767px) {
            flex-direction: column;
            text-align: center;
            padding: 22px;
        }
        .stripText {
            @media (max-width: 767px) {
                margin-bottom: 10px;
            }
            h4 {
                font-size: 24px;
                font-weight: normal;
                line-height: 40px;
                margin: 0;
                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            h3 {
                font-weight: bold;
                line-height: 40px;
                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 30px;
                }
            }
        }
        .stripAction {
            button {
                font-size: 14px;
                font-weight: bold;
                padding: 11px 18px;
                color: #141e2a;
                background-color: #fff;
                @media (max-width: 767px) {
                    font-size: 10px;
                    padding: 5px 14px;
                }
                &:hover {
                    background-color: #efeaea;
                }
            }
        }
    }
}
