@import "../../styles/variables.scss";

.banner {
    position: relative;
    &:before {
        content: "";
        background: rgba(48, 136, 244, 0.1);
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: 992px) {
            width: 100%;
        }
    }
    .bannerPan {
        position: absolute;
        width: 100%;
        background-color: transparent;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        .banner-text {
            max-width: 480px;
            width: 100%;
            h1 {
                color: $white;
                font-size: 34px;
                line-height: 49px;
                @media (max-width: 992px) {
                    font-size: 30px;
                    line-height: 44px;
                }
                @media (max-width: 575px) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
        .myBreadcrumb {
            position: absolute;
            bottom: 0;
            .breadcrumb {
                background-color: transparent;
                padding-left: 0;
                .breadcrumb-item {
                    a {
                        color: $blue;
                    }
                    &.active {
                        color: $white;
                    }
                }
            }
        }
    }
}
