@import "../../styles/variables.scss";

.serviceSection-holder {
    margin: 40px 0;
    display: inline-block;
    width: 100%;
    @media (max-width: 991px) {
        margin: 20px 0;
    }
    .serviceContent {
        h2 {
            max-width: 450px;
            width: 100%;
            @media (max-width: 767px) {
                max-width: 100%;
            }
        }
        .h-line {
            margin: 20px 0 50px;
            @media (max-width: 991px) {
                margin-bottom: 10px;
            }
        }
    }
    .themeRectangle {
        display: none;
    }
    .serviceCard {
        border-radius: 6px;
        padding: 10px;
        margin: 5px 0;
        svg {
            margin: 10px;
        }
        h4 {
            margin: 10px;
            display: inline-block;
            line-height: 46px;
            @media (max-width: 575px) {
                font-size: 16px;
                line-height: normal;
            }
        }
        p {
            line-height: 24px;
            margin-top: 20px;
            @media (max-width: 991px) {
                margin-top: 10px;
            }
        }
    }
}

.ServicePage {
    .slick-track {
        width: auto !important;
    }
}

.HomePage {
    .serviceSection-holder {
        margin: 0 0 250px;
        position: relative;
        .serviceContent {
            .h-line {
                margin: 20px 0 15px;
            }
        }
        .serviceCard {
            text-align: center;
            box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.1);
            margin: 15px 0;
            svg {
                margin: 10px 0;
            }
            h4 {
                display: block;
                margin: 10px 0;
                line-height: normal;
            }
            p {
                margin-top: 10px;
            }
        }
        .themeRectangle {
            display: block;
        }
        .slick-slide {
            padding: 0 15px;
        }
        @media (max-width: 767px) {
            .slick-dots {
                li {
                    margin: 0;
                    button {
                        &:before {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
