@import "../../styles/variables.scss";

.AboutPage {
    section {
        padding: 0;
        .aboutusBody-holder {
            .whoweAre {
                padding: 80px 0;
                @media (max-width: 1199px) {
                    padding: 40px 0;
                }
                @media (max-width: 767px) {
                    padding: 20px 0;
                }
                h4 {
                    font-size: 24px;
                    font-weight: 600;
                    margin: 0;
                }
                p {
                    margin: 20px 0;
                    @media (max-width: 991px) {
                        margin: 10px 0;
                    }
                }
            }
            .gradientBanner {
                background-image: linear-gradient(to right, #6EE2F5 , $blue);
                margin-bottom: 133px;
                display: inline-block;
                width: 100%;
                @media (max-width: 767px) {
                    margin-bottom: 70px;
                }
                h2  {
                    color: $white;
                    font-weight: normal;
                    max-width: 370px;
                    width: 100%;
                    margin: 60px auto;
                    text-align: center;
                    @media (max-width: 767px) {
                        margin: 30px auto;
                    }
                    @media (max-width: 575px) {
                        max-width: 260px;
                    }
                }
                .bannerImg {
                    img {
                        margin-bottom: -133px;
                        @media (max-width: 767px) {
                            margin-bottom: -70px;
                        }
                    }
                }
            }
            .ourMoto {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                margin: 80px 0;
                @media (max-width: 1199px) {
                    margin: 40px 0;
                }
                @media (max-width: 767px) {
                    flex-wrap: wrap;
                    margin: 20px 0;
                }
                .ourMoto-desc {
                    width: 60%;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    h4 {
                        font-size: 24px;
                        font-weight: 600;
                        margin: 0;
                    }
                    p {
                        margin: 20px 0;
                        @media (max-width: 991px) {
                            margin: 10px 0;
                        }
                    }
                    .descImgs {
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        margin: 60px 0;
                        @media (max-width: 767px) {
                            margin: 30px 0;
                        }
                        .leftImg {
                            @media (max-width: 1199px) {
                                margin-right: 15px;
                            }
                        }
                    }
                }
                .ourMoto-imgs {
                    width: 36%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    div {
                        margin: 15px 0;
                        @media (max-width: 767px) {
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
}
