@import '../../styles/variables.scss';

.productPanel-holder {
    margin: 40px 0;
    display: inline-block;
    width: 100%;
    @media (max-width: 991px) {
        margin: 30px 0;
    }
    @media (max-width: 575px) {
        margin: 20px 0;
    }
    .productPanel-text {
        h2 {
            max-width: 550px;
            width: 100%;
            @media (max-width: 767px) {
                max-width: 100%;
            }
        }
        .h-line {
            margin-bottom: 15px;
            display: inline-block;
        }
    }
    .productPanel-block {
        .productPanel {
            padding: 30px 40px;
            margin: 15px 0;
            border-radius: 8px;
            box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.1);
            display: inline-block;
            @media (max-width: 575px) {
                padding: 20px 20px;
            }
            figure {
                max-width: 167px;
                margin: 10px 0 15px;
            }
            p {
                margin: 15px 0;
                display: inline-block;
                line-height: 30px;
            }
        }
    }
}