@import "../../styles/variables.scss";

.aboutusTail-holder {
    background-color: #141e2a;
    color: $white;
    padding: 60px 0;
    @media (max-width: 767px) {
        padding: 25px 0;
    }
    .valueHeading {
        line-height: 36px;
        max-width: 336px;
        width: 100%;
        @media (max-width: 767px) {
            line-height: normal;
        }
    }
    .ourValues {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 60px 0;
        @media (max-width: 767px) {
            margin: 25px 0;
            flex-direction: column;
        }
        .value {
            margin-right: 30px;
            @media (max-width: 767px) {
                margin: 0;
            }
            &:last-child {
                margin: 0;
            }
            h4 {
                font-size: 20px;
                font-weight: 600;
                display: inline-block;
                margin-left: 15px;
                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }
            p {
                font-size: 18px;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }
    }
    .getstartedStrip-holder {
        margin: 0;
    }
}
