@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vcved0');
  src:  url('fonts/icomoon.eot?vcved0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vcved0') format('truetype'),
    url('fonts/icomoon.woff?vcved0') format('woff'),
    url('fonts/icomoon.svg?vcved0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blue-tick .path1:before {
  content: "\e990";
  color: rgb(0, 137, 255);
}
.icon-blue-tick .path2:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-green-tick .path1:before {
  content: "\e992";
  color: rgb(79, 141, 8);
}
.icon-green-tick .path2:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-orange-tick .path1:before {
  content: "\e994";
  color: rgb(254, 145, 31);
}
.icon-orange-tick .path2:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-faf-blue-logo:before {
  content: "\e98f";
  color: #0089ff;
}
.icon-logo:before {
  content: "\e98d";
  color: #0089ff;
}
.icon-globe:before {
  content: "\e98e";
  color: #0089ff;
}
.icon-app-dev .path1:before {
  content: "\e930";
  color: rgb(0, 0, 0);
}
.icon-app-dev .path2:before {
  content: "\e931";
  margin-left: -0.8779296875em;
  color: rgb(0, 0, 0);
}
.icon-app-dev .path3:before {
  content: "\e932";
  margin-left: -0.8779296875em;
  color: rgb(0, 0, 0);
}
.icon-app-dev .path4:before {
  content: "\e933";
  margin-left: -0.8779296875em;
  color: rgb(228, 232, 237);
}
.icon-app-dev .path5:before {
  content: "\e934";
  margin-left: -0.8779296875em;
  color: rgb(145, 232, 237);
}
.icon-app-dev .path6:before {
  content: "\e935";
  margin-left: -0.8779296875em;
  color: rgb(255, 185, 72);
}
.icon-app-dev .path7:before {
  content: "\e936";
  margin-left: -0.8779296875em;
  color: rgb(0, 195, 255);
}
.icon-app-dev .path8:before {
  content: "\e937";
  margin-left: -0.8779296875em;
  color: rgb(255, 255, 255);
}
.icon-app-dev .path9:before {
  content: "\e938";
  margin-left: -0.8779296875em;
  color: rgb(255, 255, 255);
}
.icon-app-dev .path10:before {
  content: "\e939";
  margin-left: -0.8779296875em;
  color: rgb(0, 0, 0);
}
.icon-app-dev .path11:before {
  content: "\e93a";
  margin-left: -0.8779296875em;
  color: rgb(0, 0, 0);
}
.icon-app-dev .path12:before {
  content: "\e93b";
  margin-left: -0.8779296875em;
  color: rgb(0, 0, 0);
}
.icon-app-dev .path13:before {
  content: "\e93c";
  margin-left: -0.8779296875em;
  color: rgb(0, 0, 0);
}
.icon-app-dev .path14:before {
  content: "\e93d";
  margin-left: -0.8779296875em;
  color: rgb(0, 0, 0);
}
.icon-call-center .path1:before {
  content: "\e93e";
  color: rgb(255, 185, 72);
}
.icon-call-center .path2:before {
  content: "\e93f";
  margin-left: -1.0634765625em;
  color: rgb(0, 195, 255);
}
.icon-call-center .path3:before {
  content: "\e940";
  margin-left: -1.0634765625em;
  color: rgb(145, 232, 237);
}
.icon-call-center .path4:before {
  content: "\e941";
  margin-left: -1.0634765625em;
  color: rgb(90, 90, 90);
}
.icon-call-center .path5:before {
  content: "\e942";
  margin-left: -1.0634765625em;
  color: rgb(90, 90, 90);
}
.icon-call-center .path6:before {
  content: "\e943";
  margin-left: -1.0634765625em;
  color: rgb(90, 90, 90);
}
.icon-call-center .path7:before {
  content: "\e944";
  margin-left: -1.0634765625em;
  color: rgb(90, 90, 90);
}
.icon-call-center .path8:before {
  content: "\e945";
  margin-left: -1.0634765625em;
  color: rgb(90, 90, 90);
}
.icon-call-center .path9:before {
  content: "\e946";
  margin-left: -1.0634765625em;
  color: rgb(0, 0, 0);
}
.icon-call-center .path10:before {
  content: "\e947";
  margin-left: -1.0634765625em;
  color: rgb(0, 0, 0);
}
.icon-call-center .path11:before {
  content: "\e948";
  margin-left: -1.0634765625em;
  color: rgb(0, 0, 0);
}
.icon-call-center .path12:before {
  content: "\e949";
  margin-left: -1.0634765625em;
  color: rgb(211, 209, 209);
}
.icon-call-center .path13:before {
  content: "\e94a";
  margin-left: -1.0634765625em;
  color: rgb(0, 195, 255);
}
.icon-call-center .path14:before {
  content: "\e94b";
  margin-left: -1.0634765625em;
  color: rgb(116, 222, 255);
}
.icon-call-center .path15:before {
  content: "\e94c";
  margin-left: -1.0634765625em;
  color: rgb(0, 0, 0);
}
.icon-call-center .path16:before {
  content: "\e94d";
  margin-left: -1.0634765625em;
  color: rgb(0, 0, 0);
}
.icon-call-center .path17:before {
  content: "\e94e";
  margin-left: -1.0634765625em;
  color: rgb(0, 0, 0);
}
.icon-call-center .path18:before {
  content: "\e94f";
  margin-left: -1.0634765625em;
  color: rgb(0, 0, 0);
}
.icon-content-wri .path1:before {
  content: "\e950";
  color: rgb(145, 232, 237);
}
.icon-content-wri .path2:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 185, 72);
}
.icon-content-wri .path3:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(0, 195, 255);
}
.icon-content-wri .path4:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(255, 185, 72);
}
.icon-content-wri .path5:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-content-wri .path6:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-content-wri .path7:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-content-wri .path8:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-content-wri .path9:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-content-wri .path10:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-content-wri .path11:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-content-wri .path12:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-content-wri .path13:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-content-wri .path14:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-content-wri .path15:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-digi-mark .path1:before {
  content: "\e95f";
  color: rgb(224, 224, 224);
}
.icon-digi-mark .path2:before {
  content: "\e960";
  margin-left: -1.001953125em;
  color: rgb(145, 232, 237);
}
.icon-digi-mark .path3:before {
  content: "\e961";
  margin-left: -1.001953125em;
  color: rgb(144, 164, 174);
}
.icon-digi-mark .path4:before {
  content: "\e962";
  margin-left: -1.001953125em;
  color: rgb(0, 195, 255);
}
.icon-digi-mark .path5:before {
  content: "\e963";
  margin-left: -1.001953125em;
  color: rgb(255, 185, 72);
}
.icon-digi-mark .path6:before {
  content: "\e964";
  margin-left: -1.001953125em;
  color: rgb(238, 238, 238);
}
.icon-digi-mark .path7:before {
  content: "\e965";
  margin-left: -1.001953125em;
  color: rgb(255, 185, 72);
}
.icon-digi-mark .path8:before {
  content: "\e966";
  margin-left: -1.001953125em;
  color: rgb(255, 255, 255);
}
.icon-digi-mark .path9:before {
  content: "\e967";
  margin-left: -1.001953125em;
  color: rgb(255, 255, 255);
}
.icon-digi-mark .path10:before {
  content: "\e968";
  margin-left: -1.001953125em;
  color: rgb(0, 0, 0);
}
.icon-digi-mark .path11:before {
  content: "\e969";
  margin-left: -1.001953125em;
  color: rgb(0, 0, 0);
}
.icon-digi-mark .path12:before {
  content: "\e96a";
  margin-left: -1.001953125em;
  color: rgb(0, 0, 0);
}
.icon-digi-mark .path13:before {
  content: "\e96b";
  margin-left: -1.001953125em;
  color: rgb(0, 0, 0);
}
.icon-digi-mark .path14:before {
  content: "\e96c";
  margin-left: -1.001953125em;
  color: rgb(0, 0, 0);
}
.icon-digi-mark .path15:before {
  content: "\e96d";
  margin-left: -1.001953125em;
  color: rgb(0, 0, 0);
}
.icon-digi-mark .path16:before {
  content: "\e96e";
  margin-left: -1.001953125em;
  color: rgb(0, 0, 0);
}
.icon-qa .path1:before {
  content: "\e96f";
  color: rgb(255, 185, 72);
}
.icon-qa .path2:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(145, 232, 237);
}
.icon-qa .path3:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(145, 232, 237);
}
.icon-qa .path4:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(255, 185, 72);
}
.icon-qa .path5:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(137, 137, 152);
}
.icon-qa .path6:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-qa .path7:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-qa .path8:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-qa .path9:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-qa .path10:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-qa .path11:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-qa .path12:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ui-design .path1:before {
  content: "\e97b";
  color: rgb(255, 255, 255);
}
.icon-ui-design .path2:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(145, 232, 237);
}
.icon-ui-design .path3:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(255, 185, 72);
}
.icon-ui-design .path4:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(145, 232, 237);
}
.icon-ui-design .path5:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(0, 195, 255);
}
.icon-ui-design .path6:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(255, 185, 72);
}
.icon-ui-design .path7:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(80, 87, 94);
}
.icon-ui-design .path8:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(255, 222, 207);
}
.icon-ui-design .path9:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(0, 195, 255);
}
.icon-ui-design .path10:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ui-design .path11:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ui-design .path12:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ui-design .path13:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ui-design .path14:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ui-design .path15:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ui-design .path16:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ui-design .path17:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ui-design .path18:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-polygon .path1:before {
  content: "\e92e";
  color: rgb(227, 246, 245);
}
.icon-polygon .path2:before {
  content: "\e92f";
  margin-left: -0.9736328125em;
  color: rgb(0, 0, 0);
}
.icon-android-os:before {
  content: "\e900";
  color: #7cb342;
}
.icon-angularjs .path1:before {
  content: "\e901";
  color: rgb(189, 189, 189);
}
.icon-angularjs .path2:before {
  content: "\e902";
  margin-left: -0.9443359375em;
  color: rgb(183, 28, 28);
}
.icon-angularjs .path3:before {
  content: "\e903";
  margin-left: -0.9443359375em;
  color: rgb(221, 44, 0);
}
.icon-angularjs .path4:before {
  content: "\e904";
  margin-left: -0.9443359375em;
  color: rgb(189, 189, 189);
}
.icon-angularjs .path5:before {
  content: "\e905";
  margin-left: -0.9443359375em;
  color: rgb(238, 238, 238);
}
.icon-angularjs .path6:before {
  content: "\e906";
  margin-left: -0.9443359375em;
  color: rgb(189, 189, 189);
}
.icon-angularjs .path7:before {
  content: "\e907";
  margin-left: -0.9443359375em;
  color: rgb(238, 238, 238);
}
.icon-blockchain .path1:before {
  content: "\e908";
  color: rgb(128, 151, 162);
}
.icon-blockchain .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(55, 71, 79);
}
.icon-blockchain .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(21, 101, 192);
}
.icon-blockchain .path4:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(144, 202, 249);
}
.icon-blockchain .path5:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(3, 169, 244);
}
.icon-java .path1:before {
  content: "\e90d";
  color: rgb(83, 130, 161);
}
.icon-java .path2:before {
  content: "\e90e";
  margin-left: -0.7373046875em;
  color: rgb(83, 130, 161);
}
.icon-java .path3:before {
  content: "\e90f";
  margin-left: -0.7373046875em;
  color: rgb(231, 111, 0);
}
.icon-java .path4:before {
  content: "\e910";
  margin-left: -0.7373046875em;
  color: rgb(83, 130, 161);
}
.icon-java .path5:before {
  content: "\e911";
  margin-left: -0.7373046875em;
  color: rgb(83, 130, 161);
}
.icon-java .path6:before {
  content: "\e912";
  margin-left: -0.7373046875em;
  color: rgb(83, 130, 161);
}
.icon-java .path7:before {
  content: "\e913";
  margin-left: -0.7373046875em;
  color: rgb(231, 111, 0);
}
.icon-java .path8:before {
  content: "\e914";
  margin-left: -0.7373046875em;
  color: rgb(83, 130, 161);
}
.icon-mongodb .path1:before {
  content: "\e915";
  color: rgb(255, 255, 255);
}
.icon-mongodb .path2:before {
  content: "\e916";
  margin-left: -0.4482421875em;
  color: rgb(166, 163, 133);
}
.icon-mongodb .path3:before {
  content: "\e917";
  margin-left: -0.4482421875em;
  color: rgb(255, 255, 255);
}
.icon-mongodb .path4:before {
  content: "\e918";
  margin-left: -0.4482421875em;
  color: rgb(73, 157, 74);
}
.icon-mongodb .path5:before {
  content: "\e919";
  margin-left: -0.4482421875em;
  color: rgb(255, 255, 255);
}
.icon-mongodb .path6:before {
  content: "\e91a";
  margin-left: -0.4482421875em;
  color: rgb(88, 170, 80);
}
.icon-nodejs .path1:before {
  content: "\e91b";
  color: rgb(56, 142, 60);
}
.icon-nodejs .path2:before {
  content: "\e91c";
  margin-left: -2.5205078125em;
  color: rgb(55, 71, 79);
}
.icon-nodejs .path3:before {
  content: "\e91d";
  margin-left: -2.5205078125em;
  color: rgb(46, 125, 50);
}
.icon-nodejs .path4:before {
  content: "\e91e";
  margin-left: -2.5205078125em;
  color: rgb(76, 175, 80);
}
.icon-nodejs .path5:before {
  content: "\e91f";
  margin-left: -2.5205078125em;
  color: rgb(55, 71, 79);
}
.icon-oracle:before {
  content: "\e920";
  color: #ef0f14;
}
.icon-python .path1:before {
  content: "\e921";
  color: rgb(2, 119, 189);
}
.icon-python .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 193, 7);
}
.icon-react .path1:before {
  content: "\e923";
  color: rgb(139, 183, 240);
}
.icon-react .path2:before {
  content: "\e924";
  margin-left: -1.0859375em;
  color: rgb(78, 122, 181);
}
.icon-react .path3:before {
  content: "\e925";
  margin-left: -1.0859375em;
  color: rgb(139, 183, 240);
}
.icon-react .path4:before {
  content: "\e926";
  margin-left: -1.0859375em;
  color: rgb(78, 122, 181);
}
.icon-spring .path1:before {
  content: "\e927";
  color: rgb(139, 195, 74);
}
.icon-spring .path2:before {
  content: "\e928";
  margin-left: -0.9921875em;
  color: rgb(255, 255, 255);
}
.icon-swift .path1:before {
  content: "\e929";
  color: rgb(255, 109, 0);
}
.icon-swift .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(230, 74, 25);
}
.icon-swift .path3:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-vue-js .path1:before {
  content: "\e92c";
  color: rgb(129, 199, 132);
}
.icon-vue-js .path2:before {
  content: "\e92d";
  margin-left: -1.1669921875em;
  color: rgb(69, 90, 100);
}
