@import '../../styles/variables.scss';

.contactSection-holder {
    h2 {
        text-decoration: underline;
        margin-bottom: 100px;
        @media (max-width: 767px) {
            margin-bottom: 60px;
        }
    }
    .allDevices-block {
        max-width: 982px;
        width: 100%;
        margin: auto;
    }
}