@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "~bootstrap/scss/bootstrap";
@import './variables.scss';


body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $black;
    overflow-x: hidden;
    @media (max-width: 991px) {
        font-size: 14px;
    }
}
.layout {
    width: 100%;
    display: inline-block;
    overflow-x: hidden;
}
section {
    padding: 40px 0;
    @media (max-width: 767px) {
        padding: 20px 0;
    }
}
h1 {
    font-size: 44px;
    font-weight: normal;
    line-height: 60px;
    color: $white;
    @media (max-width: 991px) {
       font-size: 40px;
       line-height: 50px;
    }
    @media (max-width: 767px) {
        font-size: 34px;
        line-height: 40px;
    }
    @media (max-width: 575px) {
        font-size: 26px;
        line-height: 36px;
    }
}
h2 {
    font-size: 34px;
    font-weight: bold;
    line-height: 46px;
    margin: 0 0 20px;
    @media (max-width: 992px) {
        font-size: 28px;
        line-height: 36px;
    }
    @media (max-width: 767px) {
        font-size: 24px;
        line-height: 28px;
    }
    @media (max-width: 575px) {
        font-size: 20px;
        line-height: 24px;
     }
}
h3 {
    font-size: 28px;
    font-weight: normal;
    line-height: 46px;
    margin: 0;
    @media (max-width: 991px) {
        font-size: 24px;
        line-height: 30px;
    }
    @media (max-width: 575px) {
        font-size: 18px;
        line-height: 24px;
     }
}
h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 46px;
}
p {
    font-weight: normal;
    line-height: 27px;
    margin: 10px 0;
}
img {
    width: 100%;
}
a {
    color: $black;
}
.h-line {
    width: 60px;
    height: 4px;
    background-color: $blue;
    display: inline-block;
    border-radius: 50px;
} 
.themeRectangle {
    position: absolute;
    top: -50%;
    z-index: -1;
    right: -25%;
    width: 39%;
    &.left {
       left: -25%;
       right: inherit;
       top: inherit;
       bottom: -50%; 
    }
    img {
        width: 100%;
    }
}

.slick-dots {
    bottom: -50px;
    li {
        button {
            &:before {
                font-size: 14px;
                color: #786d6d;
            }
        }
        &.slick-active {
            button {
                &:before {
                    color: $blue;
                }
            }
        }
    }
}
.ContactPage {
    section {
        max-width: 640px;
        width: 100%;
        padding: 80px 0;
        margin-left: auto;
        margin-right: auto;
    }
}