@import '../../styles/variables.scss';

.productSection-holder {
    padding: 0 0 220px;
    position: relative;
    @media (max-width: 991px) {
        padding: 0 0 160px;
    }
    @media (max-width: 767px) {
        padding: 0 0 130px;
    }
    .h-line {
        margin-bottom: 15px;
    }
    .productSlider {
        .slick-slide {
            padding: 0 15px;
        }
        .productCard {
            border-radius: 8px;
            box-shadow: 0 1px 5px 0px #999;
            padding: 40px 30px;
            margin: 4px 0;
            max-height: 270px;
            &.maharahCard {
                background-color: $blue;
                p,.knowMore {
                    color: $white;
                }
            }
            .logo-holder {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto 30px;
                max-width: 167px;
                width: auto;
                height: 50px;
                img {
                    width: 100%;
                }
            }
            p {
                font-size: 14px;
                line-height: 20px;
            }
            .knowMore {
                margin-top: 30px;
                font-size: 14px;
                display: inline-block;
            }
        }
    }
}
