@import '../../styles/variables.scss';

.technologySection-holder {
    margin: 0 0 250px;
    position: relative;
    @media (max-width: 991px) {
        margin: 0 0 160px;
    }
    @media (max-width: 767px) {
        margin: 0 0 120px;
    }
    .topPolygon {
        position: absolute;
        top: -85px;
        right: 3%;
    }
    .bottomPolygon {
        position: absolute;
        bottom: -20px;
        left: 40%;
        @media (max-width: 767px) {
            left: 3%;
            bottom: -40px;
        }
    }
}

.technologyContent {
    .technologyText {
        margin: 58px 0 40px;
        h2 {
            max-width: 80%;
            width: 100%;
        }
    }
    .allTechnologies {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 16.66%;
            margin-bottom: 50px;
            @media (max-width: 991px) {
                width: 25%;
            }
            a {
                text-decoration: none;
                p {
                    font-size: 14px;
                    line-height: normal;
                    margin-bottom: 0;
                }
            }
        }
    }
}

// technologo page css start
.techPage {
    .technologyContent {
        .allTechnologies {
            justify-content: space-between;
            li {
                width: auto;
                @media (max-width: 991px) {
                    width: 16.66%;
                }
                @media (max-width: 575px) {
                    width: 25%;
                }
            }
        }
    }
}
